<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework</title>
</head>
<body>
    <h2>Homework</h2>
    <table id="planetInfo">
        <thead>
            <tr>
                <th>Planet Name</th>
                <th>Population</th>
                <th>Climate</th>
                <th>Gravity</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <button id="getPlanets">Get planets</button>
    <button id="previousPlanets" style="display:none">PREVIOUS 10</button>
    <button id="nextPlanets" style="display:none">NEXT 10</button>
    <script src="../src/Homework.js"></script>
</body>
</html>